@import "tailwindcss";

* { box-sizing: border-box; }
body { margin: 0; font-family: 'Courier New', Courier, monospace; }

.custom-scrollbar::-webkit-scrollbar { width: 6px; }
.custom-scrollbar::-webkit-scrollbar-track { background: #f1f5f9; border-left: 1px solid #000; }
.custom-scrollbar::-webkit-scrollbar-thumb { background: #000; }

.perspective-1000 { perspective: 1000px; }
.preserve-3d { transform-style: preserve-3d; }
.backface-hidden { backface-visibility: hidden; -webkit-backface-visibility: hidden; }
.rotate-y-180 { transform: rotateY(180deg); }

.no-scrollbar::-webkit-scrollbar { display: none; }
.no-scrollbar { -ms-overflow-style: none; scrollbar-width: none; }

@media print {
  body { -webkit-print-color-adjust: exact; print-color-adjust: exact; }
}
